body {
    padding-top: 56px;
}

.display-4 {
    font-family: 'Crimson Text',Georgia,"Times New Roman",serif;
    font-weight: 600;
    }
    .lead {
        font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 300;
    }
    
.modal-body {
    text-align: justify;
}

h2 {
    margin-bottom: 20px; /* Sesuaikan dengan jumlah margin yang diinginkan */
  }

