body {
    padding-top: 56px;
}

.display-4 {
    font-family: 'Crimson Text',Georgia,"Times New Roman",serif;
    font-weight: 600;
    }
    .lead {
        font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 300;
    }
    
.modal-body {
    text-align: justify;
}

footer.fixed {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
